*{margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#particles-js{
    width: 100%;
    height: 100vh;
    background: #11083a;
}
h1{position: absolute;top: 50%;left: 50%;
    transform: translate(-50%, -50%);font-size: 80px;color: white;
}